<div class="border">
	<div *ngIf="!editingMode" class="inner-items">
		<h1>{{task.title}}</h1>
		<p>{{task.project}}</p>
		<div class="icons">
			<edit-icon class="icon" (click)="editMode(true)"></edit-icon>
			<delet-icon class="icon" (click)="deleteTask()"></delet-icon>
		</div>
		<div *ngIf="task.done" class="centred"><button (click)="isCompleted(false)">Completed</button></div>
		<div *ngIf="!task.done" class="centred"><button (click)="isCompleted(true)">Complete</button></div>
	</div>
	<div *ngIf="editingMode" class="edit">
		<label>Title:</label>
		<input [ngModel]="task.title" #title>
		<label>Project:</label>
		<input [ngModel]="task.project" #projec>
		<button ngModel (click)="confirmChanges(title.value, projec.value)">Confirm</button>
	</div>
</div>
