@use '../../../config';

.inner-items {
	display: flex;
	flex-flow: column wrap;
}

.inner-items-edit {
	display: flex;
	flex-flow: column wrap;

	padding: 0.5em;
	margin: 0;
}

h1 {
	font-size: 1.5em;
	margin: 0;
}

.border {
	box-shadow: 0px 0px 15px rgb(160, 160, 160);
}

.border:hover {
	box-shadow: 0px 0px 15px rgb(8, 8, 8);
}

p {
	margin: 0;
	color: rgb(139, 139, 139);
}

.icons {
	display: flex;
	justify-content: flex-end;
}

.icon {
	color: config.$icongray;
}

.icon:hover {
	color: black;
	cursor: pointer;
}

:host ::ng-deep mat-icon {
	font-size: 1em;
}

.edit * {
	display: flex;
	flex-flow: column wrap;
	align-items: stretch;

	margin: 0.5em;
}

.centred {
	display: flex;
	justify-content: center;
}

button {
	width: 100%;
	height: 2em;
	border-width: 0.10em;
	border-style: solid;
	background: none;
	border-bottom-left-radius: 0.25em;
	border-bottom-right-radius: 0.25em;
	text-align: center;

	justify-content: center;
	align-self: center;
	color: #767676;
	font-size: larger;
	font-weight: 400;
	letter-spacing: 2px;
}

button:active {
	outline: none;
}

button.button-green {
	color: green;
	border-color: green;
}