@use '../../../config';

.inner-items {
	display: flex;
	flex-flow: column wrap;
}

h1 {
	font-size: 1.5em;
	margin: 0;
}

p {
	margin: 0;
	color: rgb(139, 139, 139);
}

.icons {
	display: flex;
	justify-content: flex-end;
}

.icon {
	color: config.$icongray;
}

.icon:hover {
	color: black;
	cursor: pointer;
}

:host ::ng-deep mat-icon {
	font-size: 1em;
}

.edit * {
	display: flex;
	flex-flow: column wrap;
	align-items: stretch;

	margin: 0.5em;
}

.centred {
	display: flex;
	justify-content: center;
}

button {
	display: flex;
	align-self: center;
	justify-content: stretch;
}