@use 'config';

* {
	font-family: Cambria;
}

.center {
	display: flex;
  justify-content: center;
}

.stretch {
	justify-content: space-evenly;
}

.border {
	margin: 0.5em;
	border-style: solid;
	border-width: 0.1em;
	border-radius: 0.3em;
	border-color: config.$icongray;
	padding: 0.5em;
	width: 15em;

	display: flex;
	flex-flow: column wrap;
}